.nav-item  {
    background-color: rgb(44, 121, 145);
    margin: 5px;
    border-radius: 3px;
}
.nav-item:hover  {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: black !important;
}
.nav-item:hover  a {
    color: black !important;
}
.btn-logout{
    background-color: rgb(44, 121, 145);
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.btn-logout:hover{
    color: white;
}
