.badge{
  cursor: pointer;
}
table.dataTable th.selectall-checkbox,
table.dataTable td.select-checkbox {
  cursor: pointer;
  text-align: center;
}
table.dataTable th { 
  text-align: center;
  font-size: 15px;
}
table.dataTable td { 
  text-align: center; 
  font-size: 14px; 
}
button{
  font-size: 12px !important;
}
.dt-buttons{
  position: absolute;
}
#user-table_wrapper{
  font-size: 13px;
}
#events {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #f6f6f6;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100px;
  overflow: auto;
}